html{
  height: 100%;
}

.wrapper{
  /* height: 100vh; */
  overflow-y: auto;
  overflow-x: hidden;
  /* width: 100%; */
}

@media (max-width: 730px){
  body{
    height: 100%;
  }
}

::-webkit-scrollbar{
  display: none;
}

h1{
  color: #CB1C8D;
}

h2{
  color: #F56EB3;
}

.top{
  background-color: rgb(44, 43, 43);
  height: 100%;
  width: 100%;
}

.background{
  position: relative; 
  width: 100%;
  height: 100%;   
}

.title{
  position: absolute;
  top: 40%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  z-index: 2;
  background: rgba(0, 0, 0, 0.733);
  border-radius: 20px;
  width: 250px;
}

.rocket{
  position: absolute;
  top: 10%;
  left: 30%;
  width: 100px;
  height: 100px;
  transform: rotate(-105deg);
  z-index: 1;
}

.middle{
  position: absolute;
  color: #645CBB;
  /* padding-top: 10%; */
  text-align: center;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.middle h2{
  bottom: 1px;
}

.mypic{
  height: 35%;
  background-image: linear-gradient(#645CBB,#9f9dbe); 
  border-radius: 100%;
}

.workex{
  background-image: linear-gradient(#443C68,#635985);
  color: #9e9ad4;
  font-weight: bold;
  padding-top: 150px;
  height: 500px;
  z-index: 0;
  text-align: center;
}

.workex p{
  margin-left: 30%;
  background-color: #50387d;
  width: 40%;
  border-radius: 50px;
}

.workexContent{
  bottom: 50%;
  position: relative;
}

.workPic{
  top: 15%;
  left: 5%;
  display: block;
  position: relative;
  height: 60%;
}

.life{
  background-color: #BFACE2;
  background-image: linear-gradient(#393053,#18122B);
  text-align: center;
  height: 800px;
  color: #645CBB;
}

.lifeContent{
  bottom: 10%;
  position: relative;
}

.studyPic{
  top: 40%;
  left: 7%;
  display: block;
  position: relative;
  height: 30%;
}

table{
  margin: 3% 25%;
  width: 50%;
  border: none;
  border-radius: 15px;
  border-collapse: collapse;
  background-color: #cbbee3;
}

#skills{
  padding-top: 50px;
  background-color: #EBC7E6;
  background-image: linear-gradient(#443C68,#635985);
  text-align: center;
  height: 800px;
}

.skillContent{
  position: relative;
  bottom: 45%;
}

.skill1Pic{
  top: 35%;
  right: 10%;
  display: inline-block;
  position: relative;
  height: 300px;
  z-index: 0;
}

.skill2Pic{
  top: 35%;
  left: 10%;
  display: inline-block;
  position: relative;
  height: 300px;
  z-index: 0;
}

@media (max-width: 730px){
  .skillContent{
    bottom: 80%;
  }
  .skill1Pic,.skill2Pic{
    top: 20%;
  }
  .top{
    height: 50vh;
  }
  .background{
    height: 50vh;
  }
  .title{
    top: 20%;
  }
}

.card{
  background-color: aquamarine;
  border-radius: 1rem;
  width: 200px;
  margin: 15px 25%;
  z-index: 1;
  }

#contact-me{
  background-image: linear-gradient(#393053,#18122B);
  padding: 100px 0;
  text-align: center;
  background-color: #BFACE2;
  color: #645CBB;
  z-index: 1;
}

.btn {
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #66BFBF, #34BFBF);
  background-image: -moz-linear-gradient(top, #66BFBF, #34BFBF);
  background-image: -ms-linear-gradient(top, #66BFBF, #34BFBF);
  background-image: -o-linear-gradient(top, #66BFBF, #34BFBF);
  background-image: linear-gradient(to bottom, #66BFBF, #34BFBF);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #FFFFFF;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #C893F0;
  background-image: -webkit-linear-gradient(top, #C893F0, #B041E0);
  background-image: -moz-linear-gradient(top, #C893F0, #B041E0);
  background-image: -ms-linear-gradient(top, #C893F0, #B041E0);
  background-image: -o-linear-gradient(top, #C893F0, #B041E0);
  background-image: linear-gradient(to bottom, #C893F0, #B041E0);
  text-decoration: none;
}

footer{
  background-color: rgb(73, 73, 73);
  padding-top: 1%;
  color: white;
  height: 10%;
  text-align: center;
  z-index: 1;
}

.fa-footer{
  margin: 0 20px;
  color: #ffffff;
}

.fa-footer:hover{
  color: #1e1738;
}

@keyframes fadeup {
  0%{
      opacity: 0;
      transform: translateY(30px) scale(0.9);
  }
  100%{
      opacity: 1;
      transform: translateY(0px) scale(1);
  } 
}

.hidden{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.texthidden{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(100%);
  transition: all 1s;
}

.textshow{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}